
DelegateAndEvent/DelegateAndEvent/Program.cs
DelegateAndEvent/.vs/DelegateAndEvent/xs/sqlite3/storage.ide-shm
DelegateAndEvent/.vs/DelegateAndEvent/xs/sqlite3/storage.ide-wal
DelegateAndEvent/.vs/DelegateAndEvent/xs/UserPrefs.xml
